.vs/
obj/
libs/
.vs/
dump/

# OS / editor
Thumbs.db
Desktop.ini
*.user
*.suo
*.vcxproj.user

# IDEs
.idea/
.vscode/

# Logs
*.log
лоадерабаюдна (dlya pc)/logs/

# Android/NDK outputs (extra safety)
*.apk
*.a
*.so

# Secrets/keys
*.jks
*.keystore
*.p12
parser
